@page

@using MyExampleApplication.Pages

@model IndexModel

<script src="~/js/index.js" asp-append-version="true"></script>

<a href="BarberAppointment">Barber Appointment</a>

<h1>Components Test</h1>

<hr />

<hr />

<h2>Component TextInput</h2>

<input id="hf_MyTextInput_MetadataJson" type="hidden" value="@Model.MyTextInput_MetadataJson" />
<input id="hf_MyTextInput_StateDtoJson" type="hidden" value="@Model.MyTextInput_StateDtoJson" />
@await Model.MyTextInput.GetRenderer().RenderAsync(Model.MyTextInput, Html)

<hr />



