@page

@using MyExampleApplication.Pages

@model IndexModel

<script src="~/js/index.js" asp-append-version="true"></script>

<a href="BarberAppointment">Barber Appointment</a>

<h1>Components Test</h1>

@await Model.MyTextInput.RenderAsync(Html)

@await Model.MyNested.RenderAsync(Html)

<input id="hfExampleComp_DtoJson" type="hidden" value="@Model.TheExampleComp_DtoJson" />
<input id="hfExampleComp_CompInfoJson" type="hidden" value="@Model.TheExampleComp_CompInfoJson" />
@await Model.TheExampleComp.RenderAsync(Html)




