@page

@using MyExampleApplication.Pages

@model IndexModel

<script src="~/js/index.js" asp-append-version="true"></script>

<a href="BarberAppointment">Barber Appointment</a>

<hr />

<h1>Render Test</h1>

<h2>MyTestCompUniqueName_CLIENT</h2>
<input id="hf_MyTestCompBuilder_UN" type="hidden" value="MyTestCompUniqueName_CLIENT" />
<input id="hf_MyTestCompBuilder_AQN" type="hidden" value="@Model.MyTestCompBuilder.AssemblyQualifiedName" />
<span id="MyTestComp_Placeholder"></span>




